__pycache__/*
__pycache__
*egg-info
*eggs
.vscode/
env/
test/
venv/
workdir/
makefile
*.out
*.sh
*.swp
*/data/
*events.out.tfevents*
algoperf/workloads/librispeech_conformer/data_dir
algoperf/workloads/librispeech_conformer/work_dir
algoperf/workloads/*
algorithms/archived_paper_baselines
*.flac
*.npy
*.csv
*.vocab
wandb/
*.txt
scoring/plots/
datasets/dataset_setup.py
/gpu_logs
/exp_log
/log_*
/test_*
/tests
/scoring_results/

!scoring/test_data/experiment_dir/study_0/mnist_jax/trial_0/eval_measurements.csv
!scoring/test_data/experiment_dir/study_0/mnist_jax/trial_1/eval_measurements.csv

algoperf/_version.py
